.Rproj.user
.Rhistory
.RData
.Ruserdata
.xlsx
./data/PCmods.RData



## a few testing code and files from Yingjie's side
desktop.ini
mapping_Li.R

MS
shapefiles
results
code/*
data/data_for_gee/
data/data_from_gee/
figures/accuracy_testing_rf*